<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>

            <!-- Responsive Search Bar -->
            <div class="d-flex justify-content-center mt-4">
                <form method="get" action="{% url 'blog:search' %}" class="w-100" style="max-width: 400px;">
                    <div class="input-group">
                        <input 
                            id="search-input" 
                            type="search" 
                            class="form-control" 
                            placeholder="Search..." 
                            name="query" 
                            value="{{ request.GET.query }}" 
                        />
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
